<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Photo Gallery</title>
  <meta name="description" content="Photo Gallery by Wes Gibbs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css?v=2.3">
</head>
<body>
  
  <main id="galleryApp">
    <section class="gallery">
      <header class="gallery__heading">
        <h1>Photo Gallery</h1>
        <hr />
      </header>
      <div class="gallery__interior">
        <div class="gallery__buttons">
          <button class="gallery__button" :aria-label="galleryPhoto.title" @click="showPhoto" v-for="(galleryPhoto, index) in galleryPhotos" v-bind:data-id="'photo-' + index">
            <img :src="galleryPhoto.image_url" alt="Gallery Square Image" />
          </button>
        </div>
        <gallery-photo
          v-for="(galleryPhoto, index) in galleryPhotos"
          v-bind:title="galleryPhoto.title"
          v-bind:id="'photo-' + index"
          v-bind:style="{backgroundImage: 'url(' + galleryPhoto.image_url + ')' }"
        >
        </gallery-photo>
      </div>
    </section>
  </main>
  
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/app.min.js?v=2.3"></script>
</body>
</html>
