<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Photo Gallery</title>
  <meta name="description" content="Photo Gallery by Wes Gibbs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css?v=2.1">
</head>
<body>
  
  <main id="galleryApp">
    <article class="gallery">
      <header class="gallery__heading">
        <h1>Photo Gallery</h1>
        <hr />
        <p>Hello and welcome to my photo gallery. See below for some of my outdoor photography from various travels and road-trips throughout the years.
      </header>
      <section class="gallery__main">
        <div class="gallery__buttons">
          <button v-for="(galleryItem, index) in galleryItems" :key="index" :aria-label="'Open Photo of '+ galleryItem.title" @click="activateGallery(index)">
            <img :src="galleryItem.image_url" alt="Gallery Button Image" />
          </button>
        </div>
        <div class="gallery__photo-overlay">
          <div class="gallery__photo-lg" v-for="(galleryItem, index) in galleryItems" :key="index" role="img" :aria-label="galleryItem.title" v-bind:class="{active : activeEl == index}" v-bind:style="{backgroundImage: 'url(' + galleryItem.image_url + ')' }" v-bind:aria-hidden="activeEl != index || activeEl == null ? 'true' : 'false'">
            <div class="gallery__photo-info">
              <h2 class="gallery__photo-title">{{ galleryItem.title }}</h2>
            </div>
            <button class="gallery__photo-close" :aria-label="'Close Photo of '+ galleryItem.title" @click="closeGallery">&#x2715;</button>
          </div>
        </div>
      </section>
    </article>
  </main>
  
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/app.min.js?v=2.1"></script>
</body>
</html>
