//Mixins

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

@mixin defaultButton() {
  display: block;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}